{% extends "blog_template.html" %}

{% block title %}
    CS 253 Blog - {{ subject }}
{% endblock %}

{% block content %}

        <div class="post">
            <div class="post-heading">
                <div class="post-title">{{ subject }}</a></div>
                <div class="post-date">{{ created.strftime('%B %d, %Y') }}</div>
            </div>
            <div class="post-content"><pre>{{ content }}</pre></div>
        </div>
        
        <p class="cached">Queried {{ query }} seconds ago.</p>
{% endblock %}