{% extends "blog_template.html" %}

{% block title %}
    CS 253 Blog - Homepage
{% endblock %}

{% block content %}

        <div id="create">
            <p><a href="blog/newpost">[ Create a new blog post ]</a></p>
        </div>
        <div class="clear"></div>
    
        {% for post in blogDB %}
            <div class="post">
                <div class="post-heading">
                    <div class="post-title">
                        <a href="blog/post/{{ post.url }}">{{ post.title }}</a>
                    </div>
                    <div class="post-date">
                        {{ post.created.strftime('%B %d, %Y') }}
                    </div>
                </div>
                <div class="post-content">
                    <pre>{{ post.body }}</pre>
                </div>
            </div>
        {% endfor %}

{% endblock %}